@font-face {
  src: url("/../stylesheets/fonts/Nexa Bold.eot") format("embedded-opentype"), url("/../stylesheets/fonts/Nexa Bold.otf") format("opentype"), url("/../stylesheets/fonts/Nexa Bold.ttf") format("truetype"), url("/../stylesheets/fonts/Nexa Bold.woff") format("woff"), url("/../stylesheets/fonts/Nexa Bold.woff2") format("woff2");
  font-family: "Nexa";
  font-weight: 900;
}

@font-face {
  src: url("/../stylesheets/fonts/Nexa Light.otf") format("opentype"), url("/../stylesheets/fonts/NexaLight.eot") format("embedded-opentype"), url("/../stylesheets/fonts/NexaLight.ttf") format("truetype"), url("/../stylesheets/fonts/NexaLight.woff") format("woff"), url("/../stylesheets/fonts/NexaLight.woff2") format("woff2");
  font-family: "Nexa";
  font-weight: 100;
}

@font-face {
  src: url("/../stylesheets/fonts/Lato-Bold.eot") format("embedded-opentype"), url("/../stylesheets/fonts/Lato-Bold.otf") format("opentype"), url("/../stylesheets/fonts/Lato-Bold.ttf") format("truetype"), url("/../stylesheets/fonts/Lato-Bold.woff") format("woff"), url("/../stylesheets/fonts/Lato-Bold.woff2") format("woff2");
  font-family: "Lato";
  font-weight: 900;
}
