

.parallax-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  overflow: hidden;

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: calc(100vw - 20%);
    height: calc(100vh - 13%);
    background-color: $main-gray;

    a {
      display: block;
    }

    .layer {
      @include prefix(box-shadow, (0 32px 40px -20px rgba(0,0,0,.25)));
      margin: auto;

      @media (max-width: 426px) {
        &:nth-of-type(1) {
          @keyframes move1 {
            0%, 100% {transform: translate(0);}
            20% {transform: translate(5px, -20px);}
            40% {transform: translate(-10px, -10px);}
            60% {transform: translate(-10px, -10px);}
            80% {transform: translate(-5px, 20px);}
          }

          animation: move1 10s infinite cubic-bezier(2,1,1,.67);
        }
        &:nth-of-type(2) {
          @keyframes move2 {
            0%, 100% {transform: translate(0);}
            20% {transform: translate(20px, 5px);}
            40% {transform: translate(10px, -5px);}
            60% {transform: translate(-20px, 10px);}
            80% {transform: translate(10px, 5px);}
          }

          animation: move2 10s infinite cubic-bezier(.83,.67,.67,.17);
        }
        &:nth-of-type(3) {
          @keyframes move3 {
            0%, 100% {transform: translate(0);}
            20% {transform: translate(10px, -10px);}
            40% {transform: translate(-20px, -10px);}
            60% {transform: translate(10px, 10px);}
            80% {transform: translate(-10px, 20px);}
          }

          animation: move3 10s infinite cubic-bezier(.67,.83,.17,.67);
        }
        &:nth-of-type(4) {
          @keyframes move4 {
            0%, 100% {transform: translate(0);}
            20% {transform: translate(-5px, -5px);}
            40% {transform: translate(-5px, 10px);}
            60% {transform: translate(10px, 5px);}
            80% {transform: translate(-5px, -10px);}
          }

          animation: move4 10s infinite cubic-bezier(.67,.17,.67,.83);
        }
        &:nth-of-type(5) {
          @keyframes move5 {
            0%, 100% {transform: translate(0);}
            20% {transform: translate(-5px, -5px);}
            40% {transform: translate(-5px, 5px);}
            60% {transform: translate(5px, 5px);}
            80% {transform: translate(-5px, -5px);}
          }

          animation: move5 10s infinite cubic-bezier(.67,.83,.67,.17);
        }
        &:nth-of-type(6) {
          @keyframes move6 {
            0%, 100% {transform: translate(0);}
            20% {transform: translate(-5px, -5px);}
            40% {transform: translate(-5px, 5px);}
            60% {transform: translate(5px, 5px);}
            80% {transform: translate(-5px, -5px);}
          }

          animation: move6 10s infinite cubic-bezier(.67,.83,.67,.17);
        }
        &:nth-of-type(7),
        &:last-of-type {
          @keyframes move7 {
            0%, 100% {transform: translate(0);}
            20% {transform: translate(-5px, -5px);}
            40% {transform: translate(-5px, 5px);}
            60% {transform: translate(5px, 5px);}
            80% {transform: translate(-5px, -5px);}
          }

          animation: move7 10s infinite cubic-bezier(.67,.83,.67,.17);
        }
      }


      &.img { // img
        $color: $light-accent-color;
        background-color: $color;

        @media (min-width: 769px) {
          width: calc(990px * .5);
          height: calc(472px * .5);
        }

        @media (min-width: 425px) and (max-width: 769px) {
          width: calc(990px * .3);
          height: calc(472px * .3);
        }

        @media (max-width: 425px) {
          width: calc(990px * .2);
          height: calc(472px * .2);
        }
      }
      &.accent-blue {
        $color: $dark-accent-color;
        width: 200px;
        height: 120px;
        background-color: transparent;
        border: solid $color .5em;

        @media (max-width: 769px) {
          width: calc(200px * .5);
          height: calc(120px * .5);
        }
      }
      &.logo {
        $color: $main-gray;
        width: 200px;
        height: 200px;
        background-color: $color;

        @media (max-width: 769px) {
          width: calc(200px * .6);
          height: calc(200px * .6);
        }
      }

      &.accent-pink {
        $color: $light-accent-color;
        width: 100px;
        height: 100px;
        background-color: $color;

        @media (max-width: 769px) {
          width: calc(100px * .5);
          height: calc(100px * .5);
        }
      }

      &.accent-mono {
        $color: $main-white;
      }

      &.title { // title
        $color: $main-black;
        background-color: transparent;
        color: $main-black;
        font-size: 2em;
        @include prefix(box-shadow, none !important);
      }
   }
  }
}

#index {
  .layer.logo {
    @media (min-width: 470px) and (max-width: 769px) {
      width: calc(200px * .6);
      height: calc(200px * .6);
    }
    @media (max-width: 470px) {
      width: calc(200px * .55);
      height: calc(200px * .55);
    }

    svg {
      width: 100%;
      height: 100%;
      path,
      rect {@include prefix(transition, (fill 500ms cubic-bezier(.67,.67,.17,.83)));}
    }
  }

  .layer.accent-blue {
    $color: $dark-accent-color;
    background-color: $color;
    color: lighten($color, 12%);
    border: none;

    width: 300px;
    height: 200px;
    @media (min-width: 470px) and (max-width: 769px) {
      width: calc(300px * .7);
      height: calc(200px * .7);
    }
    @media (max-width: 470px) {
      width: calc(300px * .5);
      height: calc(200px * .5);
    }

    h2 {
      position: absolute;
      bottom: 5px;
    }
  }

  .layer.accent-pink {
    $color: $light-accent-color;
    background-color: $color;
    color: lighten($color, 11%);
    border: none;

    width: 300px;
    height: 400px;

    text-align: right;
    @media (min-width: 470px) and (max-width: 769px) {
      width: calc(300px * .7);
      height: calc(400px * .7);
    }
    @media (max-width: 470px) {
      width: calc(250px * .5);
      height: calc(400px * .5);
    }
  }

  .layer.accent-mono {
    $color: $main-white;
    background-color: $color;
    color: darken($color, 11%); //rgba(0,0,0,.2)
    border: none;
    width: 300px;
    height: 350px;

    @media (min-width: 470px) and (max-width: 769px) {
      width: calc(300px * .7);
      height: calc(350px * .7);
    }
    @media (max-width: 470px) {
      width: calc(300px * .5);
      height: calc(350px * .5);
    }
  }
}

#work {
  .layer.accent-blue {
    $color: $dark-accent-color;
    background-color: transparent;
    border: solid $color 1vh;

    width: 200px;
    height: 300px;
    @media (max-width: 769px) {
      width: calc(200px * .7);
      height: calc(300px * .7);
    }
  }

  .layer.accent-pink {
    $color: $light-accent-color;
    background-color: $color;
    border: none;

    width: 200px;
    height: 200px;
    @media (min-width: 470px) and (max-width: 769px) {
      width: calc(200px * .7);
      height: calc(200px * .7);
    }
    @media (max-width: 470px) {
      width: calc(200px * .5);
      height: calc(200px * .5);
    }
  }

  .layer.accent-mono {
    $color: $main-white;
    background-color: $color;
    border: none;
    width: 100px;
    height: 100px;

    @media (min-width: 470px) and (max-width: 769px) {
      width: calc(100px * .7);
      height: calc(100px * .7);
    }
    @media (max-width: 470px) {
      width: calc(100px * .5);
      height: calc(100px * .5);
    }
  }

  .layer.load {
    $color: $main-black;
    background-color: transparent;
    color: $main-black;
    font-size: 1.5em;
    @include prefix(box-shadow, none);
    text-align: center;

    .line {
      @include prefix(transform, (rotate(90deg)));
      width: 7vh;
      height: 0;
      margin: auto;
      background-color: $color;
      border: solid $color 1px;
    }
  }


}

.parallax-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $main-white;
  overflow: hidden;
}

@media (max-width: 426px) {
  #parallaxImg {transform: none !important; animation: none;}

  div.parallax-img-wrapper img {
    @keyframes imgMove {
      0%, 100% {transform: translate(0) scale(1.5);}
      20% {transform: translate(10px, -25px) scale(1.5);}
      40% {transform: translate(-15px, -15px) scale(1.5);}
      60% {transform: translate(10px, 20px) scale(1.5);}
      80% {transform: translate(-5px, 20px) scale(1.5);}
    }

    animation: imgMove 10s infinite cubic-bezier(.17,.67,.83,.67);
  }
}

#about {
  .parallax-container {
    position: fixed;
    .accent-pink.fg {
      background-color: transparent;
      border: solid $light-accent-color .5em;
      @media (min-width: 470px) and (max-width: 769px) {border-width: .4em;}
      @media (max-width: 470px) {border-width: .25em;}
    }
    .accent-pink.bg {
      background-color: $light-accent-color;
    }
    .logo {
      background-color: $main-white;
    }
    .accent-blue {
      border-width: .5em;
      width: 200px;
      height: 300px;
      @media (min-width: 470px) and (max-width: 769px) {
        border-width: .4em;
        width: calc(200px * .7);
        height: calc(300px * .7);
      }
      @media (max-width: 470px) {
        border-width: .25em;
        width: calc(200px * .5);
        height: calc(300px * .5);
      }
    }
    .accent-mono {
      background-color: transparent !important;
      border: solid .5em;
      border-left-color: $dark-accent-color;
      border-top-color: $dark-accent-color;
      border-bottom-color: $light-accent-color;
      border-right-color: $light-accent-color;
      width: 100px;
      height: 100px;

      @media (min-width: 470px) and (max-width: 769px) {
        width: calc(100px * .7);
        height: calc(100px * .7);
        border-width: .4em;
      }
      @media (max-width: 470px) {
        width: calc(100px * .5);
        height: calc(100px * .5);
        border-width: .25em;
      }
    }
  }
}

#skills {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  .skills-wrapper {
    display: flex;
    flex-flow: row wrap;
    //justify-content: center;
    justify-content: space-around;
    align-content: flex-start;

    padding: 1%;
    padding-bottom: 35px;

    width: calc(100vw - 20%);
    height: calc(100vh - 13%);
    background-color: #E3E5EC;

    overflow-y: auto;
    .skills-intro {
      display: flex;
      flex-flow: row wrap;

      padding: 3%;
      padding-bottom: 0;

      line-height: 2em;

      .more {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-self: center;

        margin-top: 25px;
        margin-bottom: 0;
        width: 100%;

        #morePart {
          margin: 2% 5%;
        }

        .resume {text-decoration: underline !important;}

        em {
          display: block;
          font-style: normal;
          font-size: 1.1em;
          font-family: $head-font-family;
          font-weight: $head-font-weight;
          letter-spacing: 3px;
          text-transform: lowercase;
          font-variant: small-caps;
          color: lighten($dark-accent-color, 15%);
        }
      }
    }
    .skill {
      display: flex;
      flex-flow:column wrap;
      justify-content: center;
      align-items: center;

      border: none;
      width: 300px;
      height: 200px;
      margin: 4% 5px;
      @include prefix(box-shadow, (0 32px 40px -20px rgba(0,0,0,.25)));

      @media (max-width: 426px) {width: 100%;}
      &.advanced {
        $color: $light-accent-color;
        color: lighten($color, 11%);
        background-color: $color;
      }
      &.proficient {
        $color: $dark-accent-color;
        color: lighten($color, 14%);
        background-color: $color;
      }
      &.beginner {
        $color: $main-white;
        color: darken($color, 11%);
        background-color: $color;
      }

      .per {
        font-size: 3em;
        font-family: $head-font-family;
        font-weight: $head-font-weight;
        letter-spacing: 3px;
        text-transform: lowercase;
        font-variant: small-caps;
      }

      em {
        padding: 0 4%;
        text-align: center;
      }
    }
  }
}
